openapi: 3.1.0
info:
  title: Fitness OS API
  version: 0.1.0
  description: >
    Contract derived from docs/API_SPECIFICATION.md. Phase 0/1 surface only.
    Every mutation is idempotent (Idempotency-Key), authorized by the three-layer model
    (RBAC × tenant × consent), and append-only logs are immutable.
servers:
  - url: https://api.fitnessos.com/v1
    description: production
  - url: http://localhost:8000/v1
    description: local
security:
  - bearerAuth: []

paths:
  /auth/register:
    post:
      summary: Create a Person + account (FR-IDN-001)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RegisterRequest' }
      responses:
        '201': { description: created, content: { application/json: { schema: { $ref: '#/components/schemas/AuthResponse' } } } }
        '422': { $ref: '#/components/responses/Problem' }

  /auth/login:
    post:
      summary: Email/password login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/LoginRequest' }
      responses:
        '200': { description: ok, content: { application/json: { schema: { $ref: '#/components/schemas/AuthResponse' } } } }
        '401': { $ref: '#/components/responses/Problem' }

  /me:
    get:
      summary: Current Person profile (FR-IDN-002)
      responses:
        '200': { description: ok, content: { application/json: { schema: { $ref: '#/components/schemas/PersonEnvelope' } } } }
        '401': { $ref: '#/components/responses/Problem' }
    patch:
      summary: Update Person profile — basics and/or training profile (FR-IDN-002)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ProfileUpdate' }
      responses:
        '200': { description: ok, content: { application/json: { schema: { $ref: '#/components/schemas/PersonEnvelope' } } } }
        '401': { $ref: '#/components/responses/Problem' }
        '422': { $ref: '#/components/responses/Problem' }

  /onboarding:
    post:
      summary: Onboarding profile capture — basics + training profile + goals (FR-IDN, J1)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/OnboardingRequest' }
      responses:
        '201': { description: completed, content: { application/json: { schema: { $ref: '#/components/schemas/OnboardingResult' } } } }
        '401': { $ref: '#/components/responses/Problem' }
        '422': { $ref: '#/components/responses/Problem' }

  /goals:
    get:
      summary: The Person's goals (FR-ENG-001)
      responses:
        '200': { description: ok, content: { application/json: { schema: { $ref: '#/components/schemas/GoalList' } } } }
        '401': { $ref: '#/components/responses/Problem' }
    post:
      summary: Create a goal (FR-ENG-001)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/GoalCreate' }
      responses:
        '201': { description: created, content: { application/json: { schema: { $ref: '#/components/schemas/GoalEnvelope' } } } }
        '401': { $ref: '#/components/responses/Problem' }
        '422': { $ref: '#/components/responses/Problem' }

  /habits:
    get:
      summary: The Person's habits, each with its current streak (FR-ENG-002)
      responses:
        '200': { description: ok, content: { application/json: { schema: { $ref: '#/components/schemas/HabitList' } } } }
        '401': { $ref: '#/components/responses/Problem' }
    post:
      summary: Create a habit (FR-ENG-002)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/HabitCreate' }
      responses:
        '201': { description: created, content: { application/json: { schema: { $ref: '#/components/schemas/HabitEnvelope' } } } }
        '401': { $ref: '#/components/responses/Problem' }
        '422': { $ref: '#/components/responses/Problem' }

  /habit-logs:
    post:
      summary: Log a habit completion — append-only, idempotent on client_ulid (FR-ENG-002)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/HabitLogCreate' }
      responses:
        '201': { description: created, content: { application/json: { schema: { $ref: '#/components/schemas/HabitLogEnvelope' } } } }
        '200': { description: idempotent replay, content: { application/json: { schema: { $ref: '#/components/schemas/HabitLogEnvelope' } } } }
        '401': { $ref: '#/components/responses/Problem' }
        '404': { $ref: '#/components/responses/Problem' }
        '422': { $ref: '#/components/responses/Problem' }

  /exercises:
    get:
      summary: Exercise library (search/filter, localized via Accept-Language) — FR-TRN-001/006
      parameters:
        - { name: q, in: query, description: name substring match, schema: { type: string } }
        - { name: muscle, in: query, description: filter by primary/secondary muscle, schema: { type: string } }
        - { name: equipment, in: query, description: filter by equipment, schema: { type: string } }
        - { name: cursor, in: query, schema: { type: string } }
        - { name: limit, in: query, schema: { type: integer, default: 25, maximum: 100 } }
      responses:
        '200': { description: ok, content: { application/json: { schema: { $ref: '#/components/schemas/ExerciseList' } } } }
        '401': { $ref: '#/components/responses/Problem' }

  /exercises/{exerciseId}:
    get:
      summary: A single exercise (localized instructions, media, contraindications)
      parameters:
        - { name: exerciseId, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: ok, content: { application/json: { schema: { $ref: '#/components/schemas/ExerciseEnvelope' } } } }
        '401': { $ref: '#/components/responses/Problem' }
        '404': { $ref: '#/components/responses/Problem' }

  /programs:
    get:
      summary: The Person's training programs (FR-TRN-005, FR-AI-001)
      responses:
        '200': { description: ok, content: { application/json: { schema: { $ref: '#/components/schemas/ProgramList' } } } }
        '401': { $ref: '#/components/responses/Problem' }

  /programs/{programId}:
    get:
      summary: A program with nested workouts and prescriptions
      parameters:
        - { name: programId, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: ok, content: { application/json: { schema: { $ref: '#/components/schemas/ProgramEnvelope' } } } }
        '401': { $ref: '#/components/responses/Problem' }
        '404': { $ref: '#/components/responses/Problem' }

  /ai/program:
    post:
      summary: Generate an AI training program (FR-AI-001) — RAG-grounded, safety post-evaluated (FR-AI-007 / INV-005)
      description: >
        Generates a personalized Program from the Person's profile and persists it only
        after the contraindication safety post-eval passes (INV-005). Requires a
        PAR-Q+-cleared Person (the `ai-plan.generate` gate → 403), completed onboarding
        (→ 422), and a funded AICredit wallet (→ 402). 422 is also returned when no safe,
        valid plan could be generated. Debits one AICredit only on success (FR-SAS-004) —
        failed/rejected attempts, including the safety regenerate loop, are not charged.
      responses:
        '201': { description: created, content: { application/json: { schema: { $ref: '#/components/schemas/ProgramEnvelope' } } } }
        '401': { $ref: '#/components/responses/Problem' }
        '402': { $ref: '#/components/responses/Problem' }
        '403': { $ref: '#/components/responses/Problem' }
        '422': { $ref: '#/components/responses/Problem' }

  /ai/meal-plan:
    post:
      summary: Generate an AI meal plan (FR-AI-002) — RAG-grounded, dietary safety post-evaluated (FR-AI-007 / INV-005)
      description: >
        Generates a personalized MealPlan from the Person's profile/goals and persists it only
        after the dietary safety post-eval passes (INV-005 — foods violating a dietary
        restriction trigger regeneration). Same preconditions as /ai/program: the
        `ai-plan.generate` gate (→ 403), completed onboarding (→ 422), and a funded AICredit
        wallet (→ 402). 422 is also returned when no safe, valid plan could be generated.
        Debits one AICredit only on success (FR-SAS-004); failed/rejected attempts are free.
      responses:
        '201': { description: created, content: { application/json: { schema: { $ref: '#/components/schemas/MealPlanEnvelope' } } } }
        '401': { $ref: '#/components/responses/Problem' }
        '402': { $ref: '#/components/responses/Problem' }
        '403': { $ref: '#/components/responses/Problem' }
        '422': { $ref: '#/components/responses/Problem' }

  /ai/exercise-alternatives:
    post:
      summary: Suggest safe exercise swaps (FR-AI-003) — cheap-tier, contraindication-checked
      description: >
        Returns a ranked list of alternatives to a given exercise that train a similar pattern
        under the athlete's equipment/injury constraints. Each suggestion passes the
        contraindication safety post-eval (INV-005 — unsafe suggestions trigger regeneration).
        Nothing is persisted (200, not 201); the member applies a swap to a program separately.
        Same gate (→ 403), onboarding (→ 422), and funded-wallet (→ 402) preconditions; an
        unknown `exercise_slug` is 422. Debits one AICredit on success (cheap-tier model).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ExerciseAlternativesRequest' }
      responses:
        '200': { description: ok, content: { application/json: { schema: { $ref: '#/components/schemas/ExerciseAlternativesEnvelope' } } } }
        '401': { $ref: '#/components/responses/Problem' }
        '402': { $ref: '#/components/responses/Problem' }
        '403': { $ref: '#/components/responses/Problem' }
        '422': { $ref: '#/components/responses/Problem' }

  /ai/plan-adjustment:
    post:
      summary: Propose safe adjustments to a program (FR-AI-006) — contraindication-checked, nothing persisted
      description: >
        Reviews one of the Person's programs and returns proposed incremental changes (swaps,
        added/removed work, progression/deload). Each prescribed exercise passes the
        contraindication safety post-eval (INV-005 — unsafe proposals trigger regeneration).
        Nothing is persisted (200, not 201); the member applies changes separately. An empty
        list is a valid "no changes recommended" answer. Same gate (→ 403), onboarding (→ 422),
        and funded-wallet (→ 402) preconditions; the program is person-owned, so an unknown or
        cross-person `program_id` is 404. Debits one AICredit on success.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PlanAdjustmentRequest' }
      responses:
        '200': { description: ok, content: { application/json: { schema: { $ref: '#/components/schemas/PlanAdjustmentEnvelope' } } } }
        '401': { $ref: '#/components/responses/Problem' }
        '402': { $ref: '#/components/responses/Problem' }
        '403': { $ref: '#/components/responses/Problem' }
        '404': { $ref: '#/components/responses/Problem' }
        '422': { $ref: '#/components/responses/Problem' }

  /ai/recommendations/today:
    get:
      summary: Today's AI recommendation (FR-AI-004) — advisory daily nudge, materialised once per day
      description: >
        Returns the Person's short advisory recommendation for today (motivation / behavioural
        nudge). Advisory-only — it prescribes no exercises or medical advice, so no contraindication
        sandwich applies. Materialised once per day: the first request of the day generates and
        debits one AICredit; later requests the same day return the cached line for free. Requires
        the `ai-plan.generate` gate (→ 403) and completed onboarding (→ 422); a miss with an
        unfunded wallet is 402.
      responses:
        '200': { description: ok, content: { application/json: { schema: { $ref: '#/components/schemas/DailyRecommendationEnvelope' } } } }
        '401': { $ref: '#/components/responses/Problem' }
        '402': { $ref: '#/components/responses/Problem' }
        '403': { $ref: '#/components/responses/Problem' }
        '422': { $ref: '#/components/responses/Problem' }

  /ai/recovery:
    get:
      summary: AI recovery tips (FR-AI-005) — advisory recovery guidance from wearables + soreness
      description: >
        Returns a short recovery recommendation grounded in the Person's recent wearable signals
        (sleep/HRV/resting-HR/steps) and an optional soreness level. Advisory-only — it prescribes
        no exercises or medical advice (safety by construction), so no contraindication sandwich
        applies. Generated fresh each call (reflects live data) and charged one AICredit (402 if
        unfunded); unusable model output is 422. Requires the `ai-plan.generate` gate (→ 403) and
        completed onboarding (→ 422).
      parameters:
        - { name: soreness, in: query, required: false, schema: { type: string, enum: [none, mild, moderate, severe] } }
      responses:
        '200': { description: ok, content: { application/json: { schema: { $ref: '#/components/schemas/RecoveryTipEnvelope' } } } }
        '401': { $ref: '#/components/responses/Problem' }
        '402': { $ref: '#/components/responses/Problem' }
        '403': { $ref: '#/components/responses/Problem' }
        '422': { $ref: '#/components/responses/Problem' }

  /ai/coach/chat:
    post:
      summary: Conversational AI coach (FR-AI-008) — send a message, grounded in the Person's profile
      description: >
        Sends a message to the AI coach and returns its reply. A multi-turn chat persisted as one
        implicit thread per person; recent turns are replayed for context. Advisory-only — it
        prescribes no exercises or medical advice (safety by construction), so no contraindication
        sandwich applies. Requires the `ai-plan.generate` gate (→ 403) and completed onboarding
        (→ 422). Each message debits one AICredit, only on a successful reply (402 if unfunded);
        unusable model output is 422. Streaming (SSE) is planned but not yet exposed. The reply
        envelope is partial pending the real adapter (Q5): the API_SPECIFICATION response contract
        also names `confidence`/`grounding`, which arrive with the real model + richer RAG.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CoachChatRequest' }
      responses:
        '200': { description: ok, content: { application/json: { schema: { $ref: '#/components/schemas/CoachChatReplyEnvelope' } } } }
        '401': { $ref: '#/components/responses/Problem' }
        '402': { $ref: '#/components/responses/Problem' }
        '403': { $ref: '#/components/responses/Problem' }
        '422': { $ref: '#/components/responses/Problem' }
    get:
      summary: Coach conversation transcript (FR-AI-008) — the Person's chat history in order
      responses:
        '200': { description: ok, content: { application/json: { schema: { $ref: '#/components/schemas/CoachMessagesEnvelope' } } } }
        '401': { $ref: '#/components/responses/Problem' }

  /biometrics:
    post:
      summary: Log a body measurement (FR-BIO-001) — append-only, idempotent on client_ulid
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/BiometricCreate' }
      responses:
        '201': { description: created, content: { application/json: { schema: { $ref: '#/components/schemas/BiometricEnvelope' } } } }
        '200': { description: idempotent replay (returns original), content: { application/json: { schema: { $ref: '#/components/schemas/BiometricEnvelope' } } } }
        '401': { $ref: '#/components/responses/Problem' }
        '422': { $ref: '#/components/responses/Problem' }
    get:
      summary: List the Person's biometrics (FR-BIO-001), newest first, optionally filtered by type
      parameters:
        - { name: type, in: query, required: false, schema: { type: string, enum: [weight, body_fat, waist, hip, chest, arm, thigh, neck] } }
      responses:
        '200': { description: ok, content: { application/json: { schema: { $ref: '#/components/schemas/BiometricsEnvelope' } } } }
        '401': { $ref: '#/components/responses/Problem' }

  /wearables/ingest:
    post:
      summary: Ingest a batch of wearable readings (FR-BIO-003) — append-only, idempotent per reading
      description: >
        Accepts a batch of device readings (steps/HR/sleep/HRV) and appends them to the Person's
        wearable_streams. Idempotent per reading on client_ulid (duplicates are skipped, reported
        in `skipped`). The Apple Health / Health Connect connectors are client-side; this is the
        server-side sink.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/WearableIngest' }
      responses:
        '201': { description: ingested, content: { application/json: { schema: { $ref: '#/components/schemas/WearableIngestResultEnvelope' } } } }
        '401': { $ref: '#/components/responses/Problem' }
        '422': { $ref: '#/components/responses/Problem' }

  /wearables:
    get:
      summary: List the Person's wearable readings (FR-BIO-003), newest first, optionally by metric
      parameters:
        - { name: metric, in: query, required: false, schema: { type: string, enum: [hr, hrv, sleep, steps] } }
      responses:
        '200': { description: ok, content: { application/json: { schema: { $ref: '#/components/schemas/WearableStreamsEnvelope' } } } }
        '401': { $ref: '#/components/responses/Problem' }

  /sessions:
    post:
      summary: Start a training Session (idempotent)
      parameters: [ { $ref: '#/components/parameters/IdempotencyKey' } ]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SessionCreate' }
      responses:
        '201': { description: created, content: { application/json: { schema: { $ref: '#/components/schemas/Session' } } } }
        '409': { $ref: '#/components/responses/Problem' }

  /sessions/{sessionId}/sets:
    post:
      summary: Append an immutable SetLog (offline-synced, idempotent) — FR-TRN-002
      parameters:
        - { name: sessionId, in: path, required: true, schema: { type: string } }
        - { $ref: '#/components/parameters/IdempotencyKey' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SetLogCreate' }
      responses:
        '201': { description: created, content: { application/json: { schema: { $ref: '#/components/schemas/SetLog' } } } }
        '200': { description: idempotent replay (returns original), content: { application/json: { schema: { $ref: '#/components/schemas/SetLog' } } } }

  /sessions/{sessionId}/finish:
    post:
      summary: Close a session → refresh PRs/outcomes async (FR-TRN-004)
      parameters:
        - { name: sessionId, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: ok, content: { application/json: { schema: { $ref: '#/components/schemas/SessionEnvelope' } } } }
        '401': { $ref: '#/components/responses/Problem' }
        '404': { $ref: '#/components/responses/Problem' }

  /me/history:
    get:
      summary: Session history (cursor-paginated)
      parameters:
        - { name: cursor, in: query, schema: { type: string } }
        - { name: limit, in: query, schema: { type: integer, default: 25 } }
      responses:
        '200': { description: ok, content: { application/json: { schema: { $ref: '#/components/schemas/SessionList' } } } }

  /me/records:
    get:
      summary: The Person's personal records (read-model, FR-TRN-004)
      responses:
        '200': { description: ok, content: { application/json: { schema: { $ref: '#/components/schemas/PersonalRecordList' } } } }
        '401': { $ref: '#/components/responses/Problem' }

  /me/ai-credits:
    get:
      summary: AICredit wallet balance (FR-SAS-004)
      description: >
        The Person's metered AI usage balance. Auto-provisions an empty wallet on first
        read, so a balance is always returned (never 404).
      responses:
        '200': { description: ok, content: { application/json: { schema: { $ref: '#/components/schemas/AiCreditWalletEnvelope' } } } }
        '401': { $ref: '#/components/responses/Problem' }

  /foods:
    get:
      summary: Food database search (localized via Accept-Language) — FR-NUT-001
      parameters:
        - { name: q, in: query, description: name substring (en/ar), schema: { type: string } }
        - { name: cursor, in: query, schema: { type: string } }
        - { name: limit, in: query, schema: { type: integer, default: 25, maximum: 100 } }
      responses:
        '200': { description: ok, content: { application/json: { schema: { $ref: '#/components/schemas/FoodList' } } } }
        '401': { $ref: '#/components/responses/Problem' }

  /foods/barcode/{code}:
    get:
      summary: Barcode lookup (FR-NUT-003)
      parameters:
        - { name: code, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: ok, content: { application/json: { schema: { $ref: '#/components/schemas/FoodEnvelope' } } } }
        '401': { $ref: '#/components/responses/Problem' }
        '404': { $ref: '#/components/responses/Problem' }

  /food-logs:
    post:
      summary: Append a FoodLog (idempotent); from a food item or custom macros — FR-NUT-002
      parameters: [ { $ref: '#/components/parameters/IdempotencyKey' } ]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/FoodLogCreate' }
      responses:
        '201': { description: created, content: { application/json: { schema: { $ref: '#/components/schemas/FoodLogEnvelope' } } } }
        '200': { description: idempotent replay (returns original), content: { application/json: { schema: { $ref: '#/components/schemas/FoodLogEnvelope' } } } }
        '401': { $ref: '#/components/responses/Problem' }
        '422': { $ref: '#/components/responses/Problem' }

  /water-logs:
    post:
      summary: Append a water intake event (idempotent) — FR-NUT-006
      parameters: [ { $ref: '#/components/parameters/IdempotencyKey' } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount_ml]
              properties:
                client_ulid: { $ref: '#/components/schemas/Ulid' }
                amount_ml: { type: integer, minimum: 1 }
                logged_at: { type: string, format: date-time }
      responses:
        '201': { description: created }
        '200': { description: idempotent replay }
        '401': { $ref: '#/components/responses/Problem' }
        '422': { $ref: '#/components/responses/Problem' }

  /supplement-logs:
    post:
      summary: Append a supplement intake event (idempotent) — FR-NUT-007
      parameters: [ { $ref: '#/components/parameters/IdempotencyKey' } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                client_ulid: { $ref: '#/components/schemas/Ulid' }
                name: { type: string, maxLength: 120 }
                dose: { type: number }
                unit: { type: string, maxLength: 16 }
                logged_at: { type: string, format: date-time }
      responses:
        '201': { description: created }
        '200': { description: idempotent replay }
        '401': { $ref: '#/components/responses/Problem' }
        '422': { $ref: '#/components/responses/Problem' }

  /me/nutrition/summary:
    get:
      summary: Daily macro/calorie rollup (FR-NUT-002)
      parameters:
        - { name: date, in: query, description: 'YYYY-MM-DD (default today)', schema: { type: string, format: date } }
      responses:
        '200': { description: ok, content: { application/json: { schema: { $ref: '#/components/schemas/NutritionSummaryEnvelope' } } } }
        '401': { $ref: '#/components/responses/Problem' }

  /me/progress:
    get:
      summary: Trend analysis + goal projection (FR-AN-001)
      description: Per-metric trend over a window plus a per-goal projection (unit-driven; computed on read).
      responses:
        '200': { description: ok, content: { application/json: { schema: { $ref: '#/components/schemas/ProgressEnvelope' } } } }
        '401': { $ref: '#/components/responses/Problem' }

  /me/adherence:
    get:
      summary: Adherence analytics (FR-AN-002)
      description: Training + nutrition-logging activity over a 28d window plus adherence_pct vs the active program's planned cadence (null when no active program).
      responses:
        '200': { description: ok, content: { application/json: { schema: { $ref: '#/components/schemas/AdherenceEnvelope' } } } }
        '401': { $ref: '#/components/responses/Problem' }

  /me/reports/weekly:
    get:
      summary: Weekly AI report (FR-AN-005)
      description: Advisory weekly narrative grounded in progress + adherence. Materialised once per ISO week; a same-week refresh is cache-served and not recharged.
      responses:
        '200': { description: ok, content: { application/json: { schema: { $ref: '#/components/schemas/WeeklyReportEnvelope' } } } }
        '401': { $ref: '#/components/responses/Problem' }
        '402': { $ref: '#/components/responses/Problem' }
        '403': { $ref: '#/components/responses/Problem' }
        '422': { $ref: '#/components/responses/Problem' }

  /meal-plans:
    get:
      summary: The Person's meal plans (FR-AI-002)
      responses:
        '200': { description: ok, content: { application/json: { schema: { $ref: '#/components/schemas/MealPlanList' } } } }
        '401': { $ref: '#/components/responses/Problem' }

  /meal-plans/{mealPlanId}:
    get:
      summary: A meal plan with nested days and items
      parameters:
        - { name: mealPlanId, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: ok, content: { application/json: { schema: { $ref: '#/components/schemas/MealPlanEnvelope' } } } }
        '401': { $ref: '#/components/responses/Problem' }
        '404': { $ref: '#/components/responses/Problem' }

components:
  securitySchemes:
    bearerAuth: { type: http, scheme: bearer }
  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: false
      description: Client-generated ULID; replays return the original result.
      schema: { type: string }
  responses:
    Problem:
      description: RFC-9457 problem+json
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
  schemas:
    Ulid: { type: string, pattern: '^[0-9A-HJKMNP-TV-Z]{26}$' }
    Problem:
      type: object
      properties:
        type: { type: string }
        title: { type: string }
        status: { type: integer }
        code: { type: string }
        detail: { type: string }
        request_id: { type: string }
    RegisterRequest:
      type: object
      required: [display_name, email, password]
      properties:
        display_name: { type: string }
        email: { type: string, format: email }
        password: { type: string, minLength: 8 }
        locale: { type: string, enum: [en, ar], default: en }
        unit_system: { type: string, enum: [metric, imperial], default: metric }
    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email: { type: string, format: email }
        password: { type: string }
    AuthResponse:
      type: object
      properties:
        token: { type: string }
        person: { $ref: '#/components/schemas/Person' }
    PersonEnvelope:
      type: object
      properties:
        data: { $ref: '#/components/schemas/Person' }
    Person:
      type: object
      properties:
        id: { $ref: '#/components/schemas/Ulid' }
        display_name: { type: string }
        email: { type: string }
        phone: { type: string, nullable: true }
        sex: { type: string, enum: [male, female, other, prefer_not_to_say], nullable: true }
        dob: { type: string, format: date, nullable: true }
        height_cm: { type: integer, nullable: true }
        locale: { type: string, enum: [en, ar] }
        unit_system: { type: string, enum: [metric, imperial] }
        timezone: { type: string }
        country: { type: string, nullable: true }
        health_screen_status: { type: string, enum: [none, passed, flagged] }
        training_profile: { $ref: '#/components/schemas/TrainingProfile' }
        onboarding_completed: { type: boolean }
    TrainingProfile:
      type: object
      description: Onboarding capture the AI Brain consumes; stored under persons.onboarding_state.profile.
      properties:
        experience_level: { type: string, enum: [beginner, intermediate, advanced] }
        equipment:
          type: array
          items: { type: string, enum: [none, bodyweight, dumbbells, barbell, kettlebell, bands, machines, full_gym] }
        training_days_per_week: { type: integer, minimum: 0, maximum: 14 }
        dietary_preferences:
          type: array
          items: { type: string, enum: [none, halal, vegetarian, vegan, pescatarian, keto, low_carb, mediterranean] }
        dietary_restrictions: { type: array, items: { type: string, maxLength: 50 } }
        injuries:
          type: array
          description: Captured for contraindication gating on generated plans (FR-AI-007).
          items: { type: string, maxLength: 50 }
    ProfileUpdate:
      type: object
      description: All fields optional; basics and/or training-profile fields.
      allOf:
        - $ref: '#/components/schemas/TrainingProfile'
        - type: object
          properties:
            display_name: { type: string, maxLength: 120 }
            sex: { type: string, enum: [male, female, other, prefer_not_to_say], nullable: true }
            dob: { type: string, format: date, nullable: true }
            height_cm: { type: integer, minimum: 50, maximum: 300, nullable: true }
            locale: { type: string, enum: [en, ar] }
            unit_system: { type: string, enum: [metric, imperial] }
            timezone: { type: string }
            country: { type: string, minLength: 2, maxLength: 2, nullable: true }
    OnboardingRequest:
      type: object
      required: [experience_level, equipment, training_days_per_week, goals]
      allOf:
        - $ref: '#/components/schemas/TrainingProfile'
        - type: object
          properties:
            sex: { type: string, enum: [male, female, other, prefer_not_to_say], nullable: true }
            dob: { type: string, format: date, nullable: true }
            height_cm: { type: integer, minimum: 50, maximum: 300, nullable: true }
            goals:
              type: array
              minItems: 1
              items: { $ref: '#/components/schemas/GoalCreate' }
    OnboardingResult:
      type: object
      properties:
        data:
          type: object
          properties:
            onboarding_completed: { type: boolean }
            ai_input_profile: { type: object, description: The assembled AI input contract (E1.6). }
    GoalEnvelope:
      type: object
      properties:
        data: { $ref: '#/components/schemas/Goal' }
    GoalList:
      type: object
      properties:
        data: { type: array, items: { $ref: '#/components/schemas/Goal' } }
    Goal:
      type: object
      properties:
        id: { $ref: '#/components/schemas/Ulid' }
        type: { type: string, enum: [fat_loss, muscle_gain, strength, endurance, body_recomposition, general_health] }
        target_value: { type: number, nullable: true }
        target_unit: { type: string, nullable: true }
        target_date: { type: string, format: date, nullable: true }
        status: { type: string, enum: [active, achieved, abandoned] }
    GoalCreate:
      type: object
      required: [type]
      properties:
        type: { type: string, enum: [fat_loss, muscle_gain, strength, endurance, body_recomposition, general_health] }
        target_value: { type: number, nullable: true }
        target_unit: { type: string, maxLength: 16, nullable: true }
        target_date: { type: string, format: date, nullable: true }
    HabitList:
      type: object
      properties:
        data: { type: array, items: { $ref: '#/components/schemas/Habit' } }
    Habit:
      type: object
      properties:
        id: { $ref: '#/components/schemas/Ulid' }
        name: { type: string }
        cadence: { type: string, enum: [daily, weekly] }
        target_per_period: { type: integer }
        active: { type: boolean }
        current_streak: { type: integer, description: consecutive days with a completion (one day of grace) }
    HabitEnvelope:
      type: object
      properties:
        data: { $ref: '#/components/schemas/Habit' }
    HabitCreate:
      type: object
      required: [name, cadence]
      properties:
        name: { type: string, maxLength: 120 }
        cadence: { type: string, enum: [daily, weekly] }
        target_per_period: { type: integer, minimum: 1, maximum: 100 }
    HabitLogCreate:
      type: object
      required: [habit_id]
      properties:
        habit_id: { $ref: '#/components/schemas/Ulid' }
        client_ulid: { type: string, nullable: true }
        logged_at: { type: string, format: date-time, nullable: true }
    HabitLogEnvelope:
      type: object
      properties:
        data:
          type: object
          properties:
            id: { $ref: '#/components/schemas/Ulid' }
            habit_id: { $ref: '#/components/schemas/Ulid' }
            logged_at: { type: string, format: date-time, nullable: true }
    Exercise:
      type: object
      properties:
        id: { $ref: '#/components/schemas/Ulid' }
        name: { type: string, description: canonical name (localized instructions, not name) }
        slug: { type: string }
        primary_muscles: { type: array, items: { type: string } }
        secondary_muscles: { type: array, items: { type: string } }
        equipment: { type: array, items: { type: string } }
        mechanics: { type: string, enum: [compound, isolation], nullable: true }
        instructions: { type: string, nullable: true, description: resolved to the request locale (Accept-Language), en fallback }
        media_keys: { type: array, items: { type: string }, description: signed-asset keys (FR-TRN-006) }
        contraindications: { type: array, items: { type: string }, description: powers the AI safety gate (FR-AI-007) }
    ExerciseEnvelope:
      type: object
      properties:
        data: { $ref: '#/components/schemas/Exercise' }
    ExerciseList:
      type: object
      properties:
        data: { type: array, items: { $ref: '#/components/schemas/Exercise' } }
        meta: { $ref: '#/components/schemas/CursorMeta' }
    ProgramSummary:
      type: object
      properties:
        id: { $ref: '#/components/schemas/Ulid' }
        name: { type: string }
        source: { type: string, enum: [ai, coach, template, self] }
        status: { type: string, enum: [active, completed, archived] }
        start_date: { type: string, format: date, nullable: true }
    Program:
      allOf:
        - $ref: '#/components/schemas/ProgramSummary'
        - type: object
          properties:
            mesocycle: { type: object, nullable: true }
            workouts: { type: array, items: { $ref: '#/components/schemas/Workout' } }
    Workout:
      type: object
      properties:
        id: { $ref: '#/components/schemas/Ulid' }
        day_index: { type: integer }
        name: { type: string }
        ordering: { type: integer }
        exercises: { type: array, items: { $ref: '#/components/schemas/WorkoutExercise' } }
    WorkoutExercise:
      type: object
      properties:
        id: { $ref: '#/components/schemas/Ulid' }
        exercise_id: { $ref: '#/components/schemas/Ulid' }
        exercise_name: { type: string, nullable: true }
        order: { type: integer }
        target_sets: { type: integer, nullable: true }
        target_reps: { type: string, nullable: true, description: 'range/scheme e.g. "6-8", "AMRAP"' }
        target_load: { type: string, nullable: true, description: 'e.g. "70%", "20kg", "bodyweight"' }
        rest_sec: { type: integer, nullable: true }
        tempo: { type: string, nullable: true }
        notes: { type: string, nullable: true }
    ProgramList:
      type: object
      properties:
        data: { type: array, items: { $ref: '#/components/schemas/ProgramSummary' } }
    ProgramEnvelope:
      type: object
      properties:
        data: { $ref: '#/components/schemas/Program' }
    AiCreditWallet:
      type: object
      properties:
        balance: { type: integer, description: current spendable AICredits }
        plan_grant: { type: integer, description: recurring allotment from the active plan }
        period_reset_at: { type: string, format: date-time, nullable: true }
    AiCreditWalletEnvelope:
      type: object
      properties:
        data: { $ref: '#/components/schemas/AiCreditWallet' }
    ExerciseAlternativesRequest:
      type: object
      required: [exercise_slug]
      properties:
        exercise_slug: { type: string, description: slug of the exercise to find swaps for }
        count: { type: integer, minimum: 1, maximum: 5, default: 3 }
    ExerciseAlternative:
      type: object
      properties:
        exercise_id: { $ref: '#/components/schemas/Ulid' }
        slug: { type: string }
        name: { type: string }
        rationale: { type: string, nullable: true }
    ExerciseAlternatives:
      type: object
      properties:
        source:
          type: object
          properties:
            id: { $ref: '#/components/schemas/Ulid' }
            slug: { type: string }
            name: { type: string }
        alternatives: { type: array, items: { $ref: '#/components/schemas/ExerciseAlternative' } }
    ExerciseAlternativesEnvelope:
      type: object
      properties:
        data: { $ref: '#/components/schemas/ExerciseAlternatives' }
    PlanAdjustmentRequest:
      type: object
      required: [program_id]
      properties:
        program_id: { $ref: '#/components/schemas/Ulid' }
        goal: { type: string, maxLength: 500, description: optional free-text adjustment goal (e.g. "add a deload week") }
    PlanAdjustment:
      type: object
      properties:
        exercise_id: { $ref: '#/components/schemas/Ulid' }
        slug: { type: string, description: slug of the prescribed exercise }
        name: { type: string }
        action: { type: string, enum: [swap, add, remove, adjust], nullable: true }
        replaces_slug: { type: string, nullable: true, description: current exercise being swapped out, if any }
        target_sets: { type: integer, nullable: true }
        target_reps: { type: string, nullable: true }
        rationale: { type: string, nullable: true }
    PlanAdjustments:
      type: object
      properties:
        program:
          type: object
          properties:
            id: { $ref: '#/components/schemas/Ulid' }
            name: { type: string }
        adjustments:
          type: array
          description: empty ⇒ no changes recommended
          items: { $ref: '#/components/schemas/PlanAdjustment' }
    PlanAdjustmentEnvelope:
      type: object
      properties:
        data: { $ref: '#/components/schemas/PlanAdjustments' }
    DailyRecommendation:
      type: object
      properties:
        date: { type: string, format: date }
        message: { type: string, description: short advisory recommendation for the day }
    DailyRecommendationEnvelope:
      type: object
      properties:
        data: { $ref: '#/components/schemas/DailyRecommendation' }
    RecoveryTip:
      type: object
      properties:
        message: { type: string, description: short advisory recovery recommendation }
        interaction_id: { $ref: '#/components/schemas/Ulid' }
    RecoveryTipEnvelope:
      type: object
      properties:
        data: { $ref: '#/components/schemas/RecoveryTip' }
    CoachChatRequest:
      type: object
      required: [message]
      properties:
        message: { type: string, description: the athlete's message to the coach }
    CoachChatReply:
      type: object
      properties:
        reply: { type: string, description: the coach's reply }
        interaction_id: { $ref: '#/components/schemas/Ulid' }
    CoachChatReplyEnvelope:
      type: object
      properties:
        data: { $ref: '#/components/schemas/CoachChatReply' }
    CoachMessage:
      type: object
      properties:
        role: { type: string, enum: [user, assistant] }
        content: { type: string }
        at: { type: string, format: date-time }
    CoachMessagesEnvelope:
      type: object
      properties:
        data: { type: array, items: { $ref: '#/components/schemas/CoachMessage' } }
    BiometricCreate:
      type: object
      required: [type, value, unit]
      properties:
        type: { type: string, enum: [weight, body_fat, waist, hip, chest, arm, thigh, neck] }
        value: { type: number }
        unit: { type: string, maxLength: 16, description: 'kg | lb | % | cm | in' }
        client_ulid: { type: string, nullable: true, description: idempotency key for offline sync }
        measured_at: { type: string, format: date-time, nullable: true }
    Biometric:
      type: object
      properties:
        id: { $ref: '#/components/schemas/Ulid' }
        type: { type: string }
        value: { type: number }
        unit: { type: string }
        measured_at: { type: string, format: date-time }
    BiometricEnvelope:
      type: object
      properties:
        data: { $ref: '#/components/schemas/Biometric' }
    BiometricsEnvelope:
      type: object
      properties:
        data: { type: array, items: { $ref: '#/components/schemas/Biometric' } }
    WearableReading:
      type: object
      required: [metric, value, recorded_at]
      properties:
        metric: { type: string, enum: [hr, hrv, sleep, steps] }
        value: { type: number }
        recorded_at: { type: string, format: date-time }
        source: { type: string, nullable: true, description: 'apple_health | health_connect | manual' }
        client_ulid: { type: string, nullable: true, description: idempotency key for offline sync }
    WearableIngest:
      type: object
      required: [readings]
      properties:
        readings: { type: array, minItems: 1, maxItems: 1000, items: { $ref: '#/components/schemas/WearableReading' } }
    WearableIngestResult:
      type: object
      properties:
        ingested: { type: integer }
        skipped: { type: integer, description: duplicates skipped by client_ulid }
    WearableIngestResultEnvelope:
      type: object
      properties:
        data: { $ref: '#/components/schemas/WearableIngestResult' }
    WearableStream:
      type: object
      properties:
        id: { $ref: '#/components/schemas/Ulid' }
        source: { type: string, nullable: true }
        metric: { type: string }
        value: { type: number }
        recorded_at: { type: string, format: date-time }
    WearableStreamsEnvelope:
      type: object
      properties:
        data: { type: array, items: { $ref: '#/components/schemas/WearableStream' } }
    SessionCreate:
      type: object
      properties:
        workout_id: { $ref: '#/components/schemas/Ulid' }
        started_at: { type: string, format: date-time }
    Session:
      type: object
      properties:
        id: { $ref: '#/components/schemas/Ulid' }
        person_id: { $ref: '#/components/schemas/Ulid' }
        started_at: { type: string, format: date-time }
        ended_at: { type: string, format: date-time, nullable: true }
        set_logs: { type: array, items: { $ref: '#/components/schemas/SetLog' } }
    SessionList:
      type: object
      properties:
        data: { type: array, items: { $ref: '#/components/schemas/Session' } }
        meta: { $ref: '#/components/schemas/CursorMeta' }
    SessionEnvelope:
      type: object
      properties:
        data: { $ref: '#/components/schemas/Session' }
    PersonalRecord:
      type: object
      properties:
        exercise_id: { $ref: '#/components/schemas/Ulid' }
        exercise_name: { type: string, nullable: true }
        metric: { type: string, enum: [max_load, est_1rm, max_reps] }
        value: { type: number }
        achieved_at: { type: string, format: date-time, nullable: true }
        session_id: { $ref: '#/components/schemas/Ulid' }
    PersonalRecordList:
      type: object
      properties:
        data: { type: array, items: { $ref: '#/components/schemas/PersonalRecord' } }
    FoodItem:
      type: object
      properties:
        id: { $ref: '#/components/schemas/Ulid' }
        name: { type: string, description: resolved to the request locale (Accept-Language) }
        brand: { type: string, nullable: true }
        barcode: { type: string, nullable: true }
        serving_units: { type: array, items: { type: object } }
        kcal: { type: number }
        protein: { type: number }
        carbs: { type: number }
        fat: { type: number }
    FoodEnvelope:
      type: object
      properties:
        data: { $ref: '#/components/schemas/FoodItem' }
    FoodList:
      type: object
      properties:
        data: { type: array, items: { $ref: '#/components/schemas/FoodItem' } }
        meta: { $ref: '#/components/schemas/CursorMeta' }
    FoodLogCreate:
      type: object
      required: [meal_type]
      description: Provide food_item_id (macros computed from servings) OR custom kcal/macros.
      properties:
        client_ulid: { $ref: '#/components/schemas/Ulid' }
        food_item_id: { $ref: '#/components/schemas/Ulid' }
        recipe_id: { $ref: '#/components/schemas/Ulid' }
        meal_type: { type: string, enum: [breakfast, lunch, dinner, snack] }
        servings: { type: number, default: 1 }
        source: { type: string, enum: [search, barcode, image, voice, custom] }
        kcal: { type: number, description: required when no food_item_id }
        protein: { type: number }
        carbs: { type: number }
        fat: { type: number }
        logged_at: { type: string, format: date-time }
    FoodLog:
      type: object
      properties:
        id: { $ref: '#/components/schemas/Ulid' }
        food_item_id: { $ref: '#/components/schemas/Ulid' }
        meal_type: { type: string }
        servings: { type: number }
        kcal: { type: number }
        protein: { type: number }
        carbs: { type: number }
        fat: { type: number }
        source: { type: string }
        logged_at: { type: string, format: date-time }
    FoodLogEnvelope:
      type: object
      properties:
        data: { $ref: '#/components/schemas/FoodLog' }
    NutritionSummaryEnvelope:
      type: object
      properties:
        data:
          type: object
          properties:
            date: { type: string, format: date }
            kcal: { type: number }
            protein: { type: number }
            carbs: { type: number }
            fat: { type: number }
            water_ml: { type: integer }
            entries: { type: integer }
    ProgressEnvelope:
      type: object
      properties:
        data:
          type: object
          properties:
            window_days: { type: integer }
            metrics:
              type: array
              items:
                type: object
                properties:
                  type: { type: string }
                  unit: { type: string }
                  first: { type: number }
                  latest: { type: number }
                  change: { type: number }
                  trend_per_week: { type: number, nullable: true }
                  samples: { type: integer }
            goals:
              type: array
              items:
                type: object
                properties:
                  goal_id: { $ref: '#/components/schemas/Ulid' }
                  type: { type: string }
                  target_value: { type: number, nullable: true }
                  target_unit: { type: string, nullable: true }
                  target_date: { type: string, format: date, nullable: true }
                  projection:
                    type: object
                    properties:
                      status: { type: string, enum: [projected, trend_unfavorable, insufficient_data, no_matching_metric] }
                      metric: { type: string, nullable: true }
                      current: { type: number, nullable: true }
                      trend_per_week: { type: number, nullable: true }
                      projected_date: { type: string, format: date, nullable: true }
                      on_track: { type: boolean, nullable: true }
    AdherenceEnvelope:
      type: object
      properties:
        data:
          type: object
          properties:
            window_days: { type: integer }
            sessions: { type: integer }
            active_days: { type: integer }
            sessions_per_week: { type: number }
            nutrition_logged_days: { type: integer }
            current_streak_days: { type: integer }
            program_id: { type: string, nullable: true }
            planned_per_week: { type: integer, nullable: true }
            adherence_pct: { type: number, nullable: true }
    WeeklyReportEnvelope:
      type: object
      properties:
        data:
          type: object
          properties:
            iso_week: { type: string, description: 'ISO-8601 year-week, e.g. 2026-W27' }
            week_start: { type: string, format: date }
            summary: { type: string }
    MealPlanSummary:
      type: object
      properties:
        id: { $ref: '#/components/schemas/Ulid' }
        name: { type: string }
        source: { type: string, enum: [ai, coach, template, self] }
        status: { type: string }
        start_date: { type: string, format: date, nullable: true }
    MealPlan:
      allOf:
        - $ref: '#/components/schemas/MealPlanSummary'
        - type: object
          properties:
            daily_targets: { type: object, nullable: true, description: '{kcal, protein, carbs, fat}' }
            days: { type: array, items: { $ref: '#/components/schemas/MealPlanDay' } }
    MealPlanDay:
      type: object
      properties:
        id: { $ref: '#/components/schemas/Ulid' }
        day_index: { type: integer }
        name: { type: string }
        ordering: { type: integer }
        items: { type: array, items: { $ref: '#/components/schemas/MealPlanItem' } }
    MealPlanItem:
      type: object
      properties:
        id: { $ref: '#/components/schemas/Ulid' }
        meal_type: { type: string, enum: [breakfast, lunch, dinner, snack] }
        food_item_id: { $ref: '#/components/schemas/Ulid' }
        food_name: { type: string, nullable: true }
        recipe_id: { $ref: '#/components/schemas/Ulid' }
        servings: { type: number }
        target_kcal: { type: number, nullable: true }
        target_macros: { type: object, nullable: true }
        ordering: { type: integer }
        notes: { type: string, nullable: true }
    MealPlanList:
      type: object
      properties:
        data: { type: array, items: { $ref: '#/components/schemas/MealPlanSummary' } }
    MealPlanEnvelope:
      type: object
      properties:
        data: { $ref: '#/components/schemas/MealPlan' }
    SetLogCreate:
      type: object
      required: [exercise_id, set_index, reps]
      properties:
        client_ulid: { $ref: '#/components/schemas/Ulid' }
        exercise_id: { $ref: '#/components/schemas/Ulid' }
        set_index: { type: integer, minimum: 1 }
        reps: { type: integer, minimum: 0 }
        load: { type: number, minimum: 0 }
        rpe: { type: number, minimum: 0, maximum: 10 }
        logged_at: { type: string, format: date-time }
    SetLog:
      type: object
      properties:
        id: { $ref: '#/components/schemas/Ulid' }
        session_id: { $ref: '#/components/schemas/Ulid' }
        exercise_id: { $ref: '#/components/schemas/Ulid' }
        set_index: { type: integer }
        reps: { type: integer }
        load: { type: number }
        rpe: { type: number }
        logged_at: { type: string, format: date-time }
    CursorMeta:
      type: object
      properties:
        next_cursor: { type: string, nullable: true }
