openapi: 3.1.0
info:
  title: Fitness OS API
  version: 0.1.0
  description: >
    Contract derived from docs/API_SPECIFICATION.md. Phase 0/1 surface only.
    Every mutation is idempotent (Idempotency-Key), authorized by the three-layer model
    (RBAC × tenant × consent), and append-only logs are immutable.
servers:
  - url: https://api.fitnessos.com/v1
    description: production
  - url: http://localhost:8000/v1
    description: local
security:
  - bearerAuth: []

paths:
  /auth/register:
    post:
      summary: Create a Person + account (FR-IDN-001)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RegisterRequest' }
      responses:
        '201': { description: created, content: { application/json: { schema: { $ref: '#/components/schemas/AuthResponse' } } } }
        '422': { $ref: '#/components/responses/Problem' }

  /auth/login:
    post:
      summary: Email/password login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/LoginRequest' }
      responses:
        '200': { description: ok, content: { application/json: { schema: { $ref: '#/components/schemas/AuthResponse' } } } }
        '401': { $ref: '#/components/responses/Problem' }

  /me:
    get:
      summary: Current Person profile (FR-IDN-002)
      responses:
        '200': { description: ok, content: { application/json: { schema: { $ref: '#/components/schemas/PersonEnvelope' } } } }
        '401': { $ref: '#/components/responses/Problem' }
    patch:
      summary: Update Person profile — basics and/or training profile (FR-IDN-002)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ProfileUpdate' }
      responses:
        '200': { description: ok, content: { application/json: { schema: { $ref: '#/components/schemas/PersonEnvelope' } } } }
        '401': { $ref: '#/components/responses/Problem' }
        '422': { $ref: '#/components/responses/Problem' }

  /onboarding:
    post:
      summary: Onboarding profile capture — basics + training profile + goals (FR-IDN, J1)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/OnboardingRequest' }
      responses:
        '201': { description: completed, content: { application/json: { schema: { $ref: '#/components/schemas/OnboardingResult' } } } }
        '401': { $ref: '#/components/responses/Problem' }
        '422': { $ref: '#/components/responses/Problem' }

  /goals:
    get:
      summary: The Person's goals (FR-ENG-001)
      responses:
        '200': { description: ok, content: { application/json: { schema: { $ref: '#/components/schemas/GoalList' } } } }
        '401': { $ref: '#/components/responses/Problem' }
    post:
      summary: Create a goal (FR-ENG-001)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/GoalCreate' }
      responses:
        '201': { description: created, content: { application/json: { schema: { $ref: '#/components/schemas/GoalEnvelope' } } } }
        '401': { $ref: '#/components/responses/Problem' }
        '422': { $ref: '#/components/responses/Problem' }

  /exercises:
    get:
      summary: Exercise library (search/filter, localized via Accept-Language) — FR-TRN-001/006
      parameters:
        - { name: q, in: query, description: name substring match, schema: { type: string } }
        - { name: muscle, in: query, description: filter by primary/secondary muscle, schema: { type: string } }
        - { name: equipment, in: query, description: filter by equipment, schema: { type: string } }
        - { name: cursor, in: query, schema: { type: string } }
        - { name: limit, in: query, schema: { type: integer, default: 25, maximum: 100 } }
      responses:
        '200': { description: ok, content: { application/json: { schema: { $ref: '#/components/schemas/ExerciseList' } } } }
        '401': { $ref: '#/components/responses/Problem' }

  /exercises/{exerciseId}:
    get:
      summary: A single exercise (localized instructions, media, contraindications)
      parameters:
        - { name: exerciseId, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: ok, content: { application/json: { schema: { $ref: '#/components/schemas/ExerciseEnvelope' } } } }
        '401': { $ref: '#/components/responses/Problem' }
        '404': { $ref: '#/components/responses/Problem' }

  /programs:
    get:
      summary: The Person's training programs (FR-TRN-005, FR-AI-001)
      responses:
        '200': { description: ok, content: { application/json: { schema: { $ref: '#/components/schemas/ProgramList' } } } }
        '401': { $ref: '#/components/responses/Problem' }

  /programs/{programId}:
    get:
      summary: A program with nested workouts and prescriptions
      parameters:
        - { name: programId, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: ok, content: { application/json: { schema: { $ref: '#/components/schemas/ProgramEnvelope' } } } }
        '401': { $ref: '#/components/responses/Problem' }
        '404': { $ref: '#/components/responses/Problem' }

  /ai/program:
    post:
      summary: Generate an AI training program (FR-AI-001) — RAG-grounded, safety post-evaluated (FR-AI-007 / INV-005)
      description: >
        Generates a personalized Program from the Person's profile and persists it only
        after the contraindication safety post-eval passes (INV-005). Requires a
        PAR-Q+-cleared Person (the `ai-plan.generate` gate → 403), completed onboarding
        (→ 422), and a funded AICredit wallet (→ 402). 422 is also returned when no safe,
        valid plan could be generated. Debits one AICredit only on success (FR-SAS-004) —
        failed/rejected attempts, including the safety regenerate loop, are not charged.
      responses:
        '201': { description: created, content: { application/json: { schema: { $ref: '#/components/schemas/ProgramEnvelope' } } } }
        '401': { $ref: '#/components/responses/Problem' }
        '402': { $ref: '#/components/responses/Problem' }
        '403': { $ref: '#/components/responses/Problem' }
        '422': { $ref: '#/components/responses/Problem' }

  /ai/meal-plan:
    post:
      summary: Generate an AI meal plan (FR-AI-002) — RAG-grounded, dietary safety post-evaluated (FR-AI-007 / INV-005)
      description: >
        Generates a personalized MealPlan from the Person's profile/goals and persists it only
        after the dietary safety post-eval passes (INV-005 — foods violating a dietary
        restriction trigger regeneration). Same preconditions as /ai/program: the
        `ai-plan.generate` gate (→ 403), completed onboarding (→ 422), and a funded AICredit
        wallet (→ 402). 422 is also returned when no safe, valid plan could be generated.
        Debits one AICredit only on success (FR-SAS-004); failed/rejected attempts are free.
      responses:
        '201': { description: created, content: { application/json: { schema: { $ref: '#/components/schemas/MealPlanEnvelope' } } } }
        '401': { $ref: '#/components/responses/Problem' }
        '402': { $ref: '#/components/responses/Problem' }
        '403': { $ref: '#/components/responses/Problem' }
        '422': { $ref: '#/components/responses/Problem' }

  /ai/exercise-alternatives:
    post:
      summary: Suggest safe exercise swaps (FR-AI-003) — cheap-tier, contraindication-checked
      description: >
        Returns a ranked list of alternatives to a given exercise that train a similar pattern
        under the athlete's equipment/injury constraints. Each suggestion passes the
        contraindication safety post-eval (INV-005 — unsafe suggestions trigger regeneration).
        Nothing is persisted (200, not 201); the member applies a swap to a program separately.
        Same gate (→ 403), onboarding (→ 422), and funded-wallet (→ 402) preconditions; an
        unknown `exercise_slug` is 422. Debits one AICredit on success (cheap-tier model).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ExerciseAlternativesRequest' }
      responses:
        '200': { description: ok, content: { application/json: { schema: { $ref: '#/components/schemas/ExerciseAlternativesEnvelope' } } } }
        '401': { $ref: '#/components/responses/Problem' }
        '402': { $ref: '#/components/responses/Problem' }
        '403': { $ref: '#/components/responses/Problem' }
        '422': { $ref: '#/components/responses/Problem' }

  /sessions:
    post:
      summary: Start a training Session (idempotent)
      parameters: [ { $ref: '#/components/parameters/IdempotencyKey' } ]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SessionCreate' }
      responses:
        '201': { description: created, content: { application/json: { schema: { $ref: '#/components/schemas/Session' } } } }
        '409': { $ref: '#/components/responses/Problem' }

  /sessions/{sessionId}/sets:
    post:
      summary: Append an immutable SetLog (offline-synced, idempotent) — FR-TRN-002
      parameters:
        - { name: sessionId, in: path, required: true, schema: { type: string } }
        - { $ref: '#/components/parameters/IdempotencyKey' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SetLogCreate' }
      responses:
        '201': { description: created, content: { application/json: { schema: { $ref: '#/components/schemas/SetLog' } } } }
        '200': { description: idempotent replay (returns original), content: { application/json: { schema: { $ref: '#/components/schemas/SetLog' } } } }

  /sessions/{sessionId}/finish:
    post:
      summary: Close a session → refresh PRs/outcomes async (FR-TRN-004)
      parameters:
        - { name: sessionId, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: ok, content: { application/json: { schema: { $ref: '#/components/schemas/SessionEnvelope' } } } }
        '401': { $ref: '#/components/responses/Problem' }
        '404': { $ref: '#/components/responses/Problem' }

  /me/history:
    get:
      summary: Session history (cursor-paginated)
      parameters:
        - { name: cursor, in: query, schema: { type: string } }
        - { name: limit, in: query, schema: { type: integer, default: 25 } }
      responses:
        '200': { description: ok, content: { application/json: { schema: { $ref: '#/components/schemas/SessionList' } } } }

  /me/records:
    get:
      summary: The Person's personal records (read-model, FR-TRN-004)
      responses:
        '200': { description: ok, content: { application/json: { schema: { $ref: '#/components/schemas/PersonalRecordList' } } } }
        '401': { $ref: '#/components/responses/Problem' }

  /me/ai-credits:
    get:
      summary: AICredit wallet balance (FR-SAS-004)
      description: >
        The Person's metered AI usage balance. Auto-provisions an empty wallet on first
        read, so a balance is always returned (never 404).
      responses:
        '200': { description: ok, content: { application/json: { schema: { $ref: '#/components/schemas/AiCreditWalletEnvelope' } } } }
        '401': { $ref: '#/components/responses/Problem' }

  /foods:
    get:
      summary: Food database search (localized via Accept-Language) — FR-NUT-001
      parameters:
        - { name: q, in: query, description: name substring (en/ar), schema: { type: string } }
        - { name: cursor, in: query, schema: { type: string } }
        - { name: limit, in: query, schema: { type: integer, default: 25, maximum: 100 } }
      responses:
        '200': { description: ok, content: { application/json: { schema: { $ref: '#/components/schemas/FoodList' } } } }
        '401': { $ref: '#/components/responses/Problem' }

  /foods/barcode/{code}:
    get:
      summary: Barcode lookup (FR-NUT-003)
      parameters:
        - { name: code, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: ok, content: { application/json: { schema: { $ref: '#/components/schemas/FoodEnvelope' } } } }
        '401': { $ref: '#/components/responses/Problem' }
        '404': { $ref: '#/components/responses/Problem' }

  /food-logs:
    post:
      summary: Append a FoodLog (idempotent); from a food item or custom macros — FR-NUT-002
      parameters: [ { $ref: '#/components/parameters/IdempotencyKey' } ]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/FoodLogCreate' }
      responses:
        '201': { description: created, content: { application/json: { schema: { $ref: '#/components/schemas/FoodLogEnvelope' } } } }
        '200': { description: idempotent replay (returns original), content: { application/json: { schema: { $ref: '#/components/schemas/FoodLogEnvelope' } } } }
        '401': { $ref: '#/components/responses/Problem' }
        '422': { $ref: '#/components/responses/Problem' }

  /water-logs:
    post:
      summary: Append a water intake event (idempotent) — FR-NUT-006
      parameters: [ { $ref: '#/components/parameters/IdempotencyKey' } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount_ml]
              properties:
                client_ulid: { $ref: '#/components/schemas/Ulid' }
                amount_ml: { type: integer, minimum: 1 }
                logged_at: { type: string, format: date-time }
      responses:
        '201': { description: created }
        '200': { description: idempotent replay }
        '401': { $ref: '#/components/responses/Problem' }
        '422': { $ref: '#/components/responses/Problem' }

  /supplement-logs:
    post:
      summary: Append a supplement intake event (idempotent) — FR-NUT-007
      parameters: [ { $ref: '#/components/parameters/IdempotencyKey' } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                client_ulid: { $ref: '#/components/schemas/Ulid' }
                name: { type: string, maxLength: 120 }
                dose: { type: number }
                unit: { type: string, maxLength: 16 }
                logged_at: { type: string, format: date-time }
      responses:
        '201': { description: created }
        '200': { description: idempotent replay }
        '401': { $ref: '#/components/responses/Problem' }
        '422': { $ref: '#/components/responses/Problem' }

  /me/nutrition/summary:
    get:
      summary: Daily macro/calorie rollup (FR-NUT-002)
      parameters:
        - { name: date, in: query, description: 'YYYY-MM-DD (default today)', schema: { type: string, format: date } }
      responses:
        '200': { description: ok, content: { application/json: { schema: { $ref: '#/components/schemas/NutritionSummaryEnvelope' } } } }
        '401': { $ref: '#/components/responses/Problem' }

  /meal-plans:
    get:
      summary: The Person's meal plans (FR-AI-002)
      responses:
        '200': { description: ok, content: { application/json: { schema: { $ref: '#/components/schemas/MealPlanList' } } } }
        '401': { $ref: '#/components/responses/Problem' }

  /meal-plans/{mealPlanId}:
    get:
      summary: A meal plan with nested days and items
      parameters:
        - { name: mealPlanId, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: ok, content: { application/json: { schema: { $ref: '#/components/schemas/MealPlanEnvelope' } } } }
        '401': { $ref: '#/components/responses/Problem' }
        '404': { $ref: '#/components/responses/Problem' }

components:
  securitySchemes:
    bearerAuth: { type: http, scheme: bearer }
  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: false
      description: Client-generated ULID; replays return the original result.
      schema: { type: string }
  responses:
    Problem:
      description: RFC-9457 problem+json
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
  schemas:
    Ulid: { type: string, pattern: '^[0-9A-HJKMNP-TV-Z]{26}$' }
    Problem:
      type: object
      properties:
        type: { type: string }
        title: { type: string }
        status: { type: integer }
        code: { type: string }
        detail: { type: string }
        request_id: { type: string }
    RegisterRequest:
      type: object
      required: [display_name, email, password]
      properties:
        display_name: { type: string }
        email: { type: string, format: email }
        password: { type: string, minLength: 8 }
        locale: { type: string, enum: [en, ar], default: en }
        unit_system: { type: string, enum: [metric, imperial], default: metric }
    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email: { type: string, format: email }
        password: { type: string }
    AuthResponse:
      type: object
      properties:
        token: { type: string }
        person: { $ref: '#/components/schemas/Person' }
    PersonEnvelope:
      type: object
      properties:
        data: { $ref: '#/components/schemas/Person' }
    Person:
      type: object
      properties:
        id: { $ref: '#/components/schemas/Ulid' }
        display_name: { type: string }
        email: { type: string }
        phone: { type: string, nullable: true }
        sex: { type: string, enum: [male, female, other, prefer_not_to_say], nullable: true }
        dob: { type: string, format: date, nullable: true }
        height_cm: { type: integer, nullable: true }
        locale: { type: string, enum: [en, ar] }
        unit_system: { type: string, enum: [metric, imperial] }
        timezone: { type: string }
        country: { type: string, nullable: true }
        health_screen_status: { type: string, enum: [none, passed, flagged] }
        training_profile: { $ref: '#/components/schemas/TrainingProfile' }
        onboarding_completed: { type: boolean }
    TrainingProfile:
      type: object
      description: Onboarding capture the AI Brain consumes; stored under persons.onboarding_state.profile.
      properties:
        experience_level: { type: string, enum: [beginner, intermediate, advanced] }
        equipment:
          type: array
          items: { type: string, enum: [none, bodyweight, dumbbells, barbell, kettlebell, bands, machines, full_gym] }
        training_days_per_week: { type: integer, minimum: 0, maximum: 14 }
        dietary_preferences:
          type: array
          items: { type: string, enum: [none, halal, vegetarian, vegan, pescatarian, keto, low_carb, mediterranean] }
        dietary_restrictions: { type: array, items: { type: string, maxLength: 50 } }
        injuries:
          type: array
          description: Captured for contraindication gating on generated plans (FR-AI-007).
          items: { type: string, maxLength: 50 }
    ProfileUpdate:
      type: object
      description: All fields optional; basics and/or training-profile fields.
      allOf:
        - $ref: '#/components/schemas/TrainingProfile'
        - type: object
          properties:
            display_name: { type: string, maxLength: 120 }
            sex: { type: string, enum: [male, female, other, prefer_not_to_say], nullable: true }
            dob: { type: string, format: date, nullable: true }
            height_cm: { type: integer, minimum: 50, maximum: 300, nullable: true }
            locale: { type: string, enum: [en, ar] }
            unit_system: { type: string, enum: [metric, imperial] }
            timezone: { type: string }
            country: { type: string, minLength: 2, maxLength: 2, nullable: true }
    OnboardingRequest:
      type: object
      required: [experience_level, equipment, training_days_per_week, goals]
      allOf:
        - $ref: '#/components/schemas/TrainingProfile'
        - type: object
          properties:
            sex: { type: string, enum: [male, female, other, prefer_not_to_say], nullable: true }
            dob: { type: string, format: date, nullable: true }
            height_cm: { type: integer, minimum: 50, maximum: 300, nullable: true }
            goals:
              type: array
              minItems: 1
              items: { $ref: '#/components/schemas/GoalCreate' }
    OnboardingResult:
      type: object
      properties:
        data:
          type: object
          properties:
            onboarding_completed: { type: boolean }
            ai_input_profile: { type: object, description: The assembled AI input contract (E1.6). }
    GoalEnvelope:
      type: object
      properties:
        data: { $ref: '#/components/schemas/Goal' }
    GoalList:
      type: object
      properties:
        data: { type: array, items: { $ref: '#/components/schemas/Goal' } }
    Goal:
      type: object
      properties:
        id: { $ref: '#/components/schemas/Ulid' }
        type: { type: string, enum: [fat_loss, muscle_gain, strength, endurance, body_recomposition, general_health] }
        target_value: { type: number, nullable: true }
        target_unit: { type: string, nullable: true }
        target_date: { type: string, format: date, nullable: true }
        status: { type: string, enum: [active, achieved, abandoned] }
    GoalCreate:
      type: object
      required: [type]
      properties:
        type: { type: string, enum: [fat_loss, muscle_gain, strength, endurance, body_recomposition, general_health] }
        target_value: { type: number, nullable: true }
        target_unit: { type: string, maxLength: 16, nullable: true }
        target_date: { type: string, format: date, nullable: true }
    Exercise:
      type: object
      properties:
        id: { $ref: '#/components/schemas/Ulid' }
        name: { type: string, description: canonical name (localized instructions, not name) }
        slug: { type: string }
        primary_muscles: { type: array, items: { type: string } }
        secondary_muscles: { type: array, items: { type: string } }
        equipment: { type: array, items: { type: string } }
        mechanics: { type: string, enum: [compound, isolation], nullable: true }
        instructions: { type: string, nullable: true, description: resolved to the request locale (Accept-Language), en fallback }
        media_keys: { type: array, items: { type: string }, description: signed-asset keys (FR-TRN-006) }
        contraindications: { type: array, items: { type: string }, description: powers the AI safety gate (FR-AI-007) }
    ExerciseEnvelope:
      type: object
      properties:
        data: { $ref: '#/components/schemas/Exercise' }
    ExerciseList:
      type: object
      properties:
        data: { type: array, items: { $ref: '#/components/schemas/Exercise' } }
        meta: { $ref: '#/components/schemas/CursorMeta' }
    ProgramSummary:
      type: object
      properties:
        id: { $ref: '#/components/schemas/Ulid' }
        name: { type: string }
        source: { type: string, enum: [ai, coach, template, self] }
        status: { type: string, enum: [active, completed, archived] }
        start_date: { type: string, format: date, nullable: true }
    Program:
      allOf:
        - $ref: '#/components/schemas/ProgramSummary'
        - type: object
          properties:
            mesocycle: { type: object, nullable: true }
            workouts: { type: array, items: { $ref: '#/components/schemas/Workout' } }
    Workout:
      type: object
      properties:
        id: { $ref: '#/components/schemas/Ulid' }
        day_index: { type: integer }
        name: { type: string }
        ordering: { type: integer }
        exercises: { type: array, items: { $ref: '#/components/schemas/WorkoutExercise' } }
    WorkoutExercise:
      type: object
      properties:
        id: { $ref: '#/components/schemas/Ulid' }
        exercise_id: { $ref: '#/components/schemas/Ulid' }
        exercise_name: { type: string, nullable: true }
        order: { type: integer }
        target_sets: { type: integer, nullable: true }
        target_reps: { type: string, nullable: true, description: 'range/scheme e.g. "6-8", "AMRAP"' }
        target_load: { type: string, nullable: true, description: 'e.g. "70%", "20kg", "bodyweight"' }
        rest_sec: { type: integer, nullable: true }
        tempo: { type: string, nullable: true }
        notes: { type: string, nullable: true }
    ProgramList:
      type: object
      properties:
        data: { type: array, items: { $ref: '#/components/schemas/ProgramSummary' } }
    ProgramEnvelope:
      type: object
      properties:
        data: { $ref: '#/components/schemas/Program' }
    AiCreditWallet:
      type: object
      properties:
        balance: { type: integer, description: current spendable AICredits }
        plan_grant: { type: integer, description: recurring allotment from the active plan }
        period_reset_at: { type: string, format: date-time, nullable: true }
    AiCreditWalletEnvelope:
      type: object
      properties:
        data: { $ref: '#/components/schemas/AiCreditWallet' }
    ExerciseAlternativesRequest:
      type: object
      required: [exercise_slug]
      properties:
        exercise_slug: { type: string, description: slug of the exercise to find swaps for }
        count: { type: integer, minimum: 1, maximum: 5, default: 3 }
    ExerciseAlternative:
      type: object
      properties:
        exercise_id: { $ref: '#/components/schemas/Ulid' }
        slug: { type: string }
        name: { type: string }
        rationale: { type: string, nullable: true }
    ExerciseAlternatives:
      type: object
      properties:
        source:
          type: object
          properties:
            id: { $ref: '#/components/schemas/Ulid' }
            slug: { type: string }
            name: { type: string }
        alternatives: { type: array, items: { $ref: '#/components/schemas/ExerciseAlternative' } }
    ExerciseAlternativesEnvelope:
      type: object
      properties:
        data: { $ref: '#/components/schemas/ExerciseAlternatives' }
    SessionCreate:
      type: object
      properties:
        workout_id: { $ref: '#/components/schemas/Ulid' }
        started_at: { type: string, format: date-time }
    Session:
      type: object
      properties:
        id: { $ref: '#/components/schemas/Ulid' }
        person_id: { $ref: '#/components/schemas/Ulid' }
        started_at: { type: string, format: date-time }
        ended_at: { type: string, format: date-time, nullable: true }
        set_logs: { type: array, items: { $ref: '#/components/schemas/SetLog' } }
    SessionList:
      type: object
      properties:
        data: { type: array, items: { $ref: '#/components/schemas/Session' } }
        meta: { $ref: '#/components/schemas/CursorMeta' }
    SessionEnvelope:
      type: object
      properties:
        data: { $ref: '#/components/schemas/Session' }
    PersonalRecord:
      type: object
      properties:
        exercise_id: { $ref: '#/components/schemas/Ulid' }
        exercise_name: { type: string, nullable: true }
        metric: { type: string, enum: [max_load, est_1rm, max_reps] }
        value: { type: number }
        achieved_at: { type: string, format: date-time, nullable: true }
        session_id: { $ref: '#/components/schemas/Ulid' }
    PersonalRecordList:
      type: object
      properties:
        data: { type: array, items: { $ref: '#/components/schemas/PersonalRecord' } }
    FoodItem:
      type: object
      properties:
        id: { $ref: '#/components/schemas/Ulid' }
        name: { type: string, description: resolved to the request locale (Accept-Language) }
        brand: { type: string, nullable: true }
        barcode: { type: string, nullable: true }
        serving_units: { type: array, items: { type: object } }
        kcal: { type: number }
        protein: { type: number }
        carbs: { type: number }
        fat: { type: number }
    FoodEnvelope:
      type: object
      properties:
        data: { $ref: '#/components/schemas/FoodItem' }
    FoodList:
      type: object
      properties:
        data: { type: array, items: { $ref: '#/components/schemas/FoodItem' } }
        meta: { $ref: '#/components/schemas/CursorMeta' }
    FoodLogCreate:
      type: object
      required: [meal_type]
      description: Provide food_item_id (macros computed from servings) OR custom kcal/macros.
      properties:
        client_ulid: { $ref: '#/components/schemas/Ulid' }
        food_item_id: { $ref: '#/components/schemas/Ulid' }
        recipe_id: { $ref: '#/components/schemas/Ulid' }
        meal_type: { type: string, enum: [breakfast, lunch, dinner, snack] }
        servings: { type: number, default: 1 }
        source: { type: string, enum: [search, barcode, image, voice, custom] }
        kcal: { type: number, description: required when no food_item_id }
        protein: { type: number }
        carbs: { type: number }
        fat: { type: number }
        logged_at: { type: string, format: date-time }
    FoodLog:
      type: object
      properties:
        id: { $ref: '#/components/schemas/Ulid' }
        food_item_id: { $ref: '#/components/schemas/Ulid' }
        meal_type: { type: string }
        servings: { type: number }
        kcal: { type: number }
        protein: { type: number }
        carbs: { type: number }
        fat: { type: number }
        source: { type: string }
        logged_at: { type: string, format: date-time }
    FoodLogEnvelope:
      type: object
      properties:
        data: { $ref: '#/components/schemas/FoodLog' }
    NutritionSummaryEnvelope:
      type: object
      properties:
        data:
          type: object
          properties:
            date: { type: string, format: date }
            kcal: { type: number }
            protein: { type: number }
            carbs: { type: number }
            fat: { type: number }
            water_ml: { type: integer }
            entries: { type: integer }
    MealPlanSummary:
      type: object
      properties:
        id: { $ref: '#/components/schemas/Ulid' }
        name: { type: string }
        source: { type: string, enum: [ai, coach, template, self] }
        status: { type: string }
        start_date: { type: string, format: date, nullable: true }
    MealPlan:
      allOf:
        - $ref: '#/components/schemas/MealPlanSummary'
        - type: object
          properties:
            daily_targets: { type: object, nullable: true, description: '{kcal, protein, carbs, fat}' }
            days: { type: array, items: { $ref: '#/components/schemas/MealPlanDay' } }
    MealPlanDay:
      type: object
      properties:
        id: { $ref: '#/components/schemas/Ulid' }
        day_index: { type: integer }
        name: { type: string }
        ordering: { type: integer }
        items: { type: array, items: { $ref: '#/components/schemas/MealPlanItem' } }
    MealPlanItem:
      type: object
      properties:
        id: { $ref: '#/components/schemas/Ulid' }
        meal_type: { type: string, enum: [breakfast, lunch, dinner, snack] }
        food_item_id: { $ref: '#/components/schemas/Ulid' }
        food_name: { type: string, nullable: true }
        recipe_id: { $ref: '#/components/schemas/Ulid' }
        servings: { type: number }
        target_kcal: { type: number, nullable: true }
        target_macros: { type: object, nullable: true }
        ordering: { type: integer }
        notes: { type: string, nullable: true }
    MealPlanList:
      type: object
      properties:
        data: { type: array, items: { $ref: '#/components/schemas/MealPlanSummary' } }
    MealPlanEnvelope:
      type: object
      properties:
        data: { $ref: '#/components/schemas/MealPlan' }
    SetLogCreate:
      type: object
      required: [exercise_id, set_index, reps]
      properties:
        client_ulid: { $ref: '#/components/schemas/Ulid' }
        exercise_id: { $ref: '#/components/schemas/Ulid' }
        set_index: { type: integer, minimum: 1 }
        reps: { type: integer, minimum: 0 }
        load: { type: number, minimum: 0 }
        rpe: { type: number, minimum: 0, maximum: 10 }
        logged_at: { type: string, format: date-time }
    SetLog:
      type: object
      properties:
        id: { $ref: '#/components/schemas/Ulid' }
        session_id: { $ref: '#/components/schemas/Ulid' }
        exercise_id: { $ref: '#/components/schemas/Ulid' }
        set_index: { type: integer }
        reps: { type: integer }
        load: { type: number }
        rpe: { type: number }
        logged_at: { type: string, format: date-time }
    CursorMeta:
      type: object
      properties:
        next_cursor: { type: string, nullable: true }
